
.page {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    
}

.logo {
    display: flex;
    font-size: 24px;
}

.header-links {
    display: flex;
    margin: 0px;
    gap: 8px
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.column1 {
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: row;
}

.left-side {
    display: flex;
    flex-direction: column;
    flex: 0 1 400px;
    flex-wrap: wrap;
}


.title {
    font-size: 48px;
}

img {
    height: 200px;
    width: 400px;
}

